.notes-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 20px;
}

.main-container {
  display: flex;
  align-items: start;
}

.main-root-div {
  margin-top: 20px;
  text-align: center;
  width: 60%;
}

.button-dark {
  background-color: #444;
  color: #ecf0f1;
  border: 2px solid #7f8c8d;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

.button-dark:hover {
  background-color: #555;
  border-color: #bdc3c7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.button-dark:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(236, 240, 241, 0.5);
}